@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";


:root {
  --deep-black: #000000;
  --electric-blue: #7fe9ec;
  --midnight-green: #1c414e;
  --platinum: #d3d9d9;
  --navy-black: #05080a;
  --ash-gray: #9ca39c;
  --cadet-gray-1: #7a9b9f;
  --cadet-gray-2: #83a2a6;
  --light-cadet-gray: #b6c6c7;
  --yellow: #ffc700;
  --light-ash-gray: #c9d0c9;
  --transparent-cadet-gray: rgba(122, 155, 159, 0.15);
  --transparent-electric-blue: rgba(127, 233, 236, 0.15);
  --transparent-midnight-green: rgba(28, 65, 78, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--platinum);
  color: var(--navy-black);
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1200vw;
  padding: 24px;
  width: auto;
}

.navbar {
  background-color: var(--deep-black);
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 84px;
}

.container {
  align-items: center;
  display: flex;
  gap: auto;
  height: 80px;
  justify-content: center;
  padding: 24px 48px;
  text-decoration: none;
  width: auto;
}

.home-link {
  display: flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  justify-content: flex-start;
  width: 60%;
}

.nav-page-links {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  width: 40%;
}

.home-link a,
.nav-page-links a {
  color: var(--electric-blue);
  text-decoration: none;
}

.home-link a:hover,
.nav-page-links a:hover {
  color: var(--cadet-gray-2);
  text-decoration: underline;
}

.footer-page-links {
  align-items: center;
  background-color: var(--midnight-green);
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  gap: 64px;
  justify-content: center;
  line-height: 24px;
  padding: 48px 128px;
  width: auto;
}

.footer-page-links p {
  color: var(--platinum);
  text-decoration: none;
}

.footer-page-links p:hover {
  color: var(--light-cadet-gray);
  text-decoration: underline;
}

.footer-page-links a {
  color: #7fcbca;
  text-decoration: none;
}

.footer-page-links a:hover {
  color: #81aab5;
  text-decoration: underline;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-banner {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px var(--transparent-midnight-green) solid;
  border-width: 1px;
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 48px 128px;
}

.home-title {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 16px;
}

.home-title h1 {
  font-family: "Jost", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.home-title p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.home-image {
  align-self: stretch;
  border-radius: 16px;
  flex: 1 0 0;
}

.home-image img {
  border-radius: 16px;
  height: 400px;
}

.mira-description,
.nla-page-description {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px var(--transparent-midnight-green) solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 32px 128px;
}

.mira-description p,
.nla-page-description p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 50%;
}

.mira-description h2,
.home-section-title h2 {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

.home-section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.home-section-title p {
  font-family: "Roboto", sans-serif;
}

.home-section,
.nla-section {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px var(--transparent-midnight-green) solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 32px 128px;
}

.nla-section a,
.home-section a {
  color: var(--navy-black);
  text-decoration: none;
}

.nla-section a:hover,
.home-section a:hover {
  color: var(--midnight-green);
  text-decoration: underline;
}

.nla-image {
  align-items: center;
  border: 1px solid var(--transparent-midnight-green);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 920px;
}

.nla-image img {
  border-radius: 8px;
  width: 920px;
}

.nla-description,
.destination-description {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  gap: 4px;
  line-height: 24px;
  padding: 12px;
}

.destinations-list {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.destination {
  align-items: center;
  border: 1px var(--transparent-midnight-green) solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 388px;
  width: 532px;
}

.destination-image {
  align-items: center;
  align-self: stretch;
  background: var(--transparent-cadet-gray);
  border-bottom: 1px var(--transparent-midnight-green) solid;
  border-radius: 8px;
  display: flex;
  flex: 1 0 0;
  height: 100%;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.destination-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.destination-description {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

.travel-guides {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.article-list {
  align-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  align-items: flex-start;
  border: 1px solid var(--transparent-midnight-green);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  height: 132px;
  padding: 16px;
  width: 580px;
}

.article-image {
  background-color: var(--transparent-cadet-gray);
  border-radius: 4px;
  height: 100px;
  width: 100px;
}

.article-text {
  font-family: "Roboto", sans-serif;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.article-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.customer-reviews-list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.customer-review {
  background: var(--transparent-cadet-gray);
  border: 1px solid var(--transparent-midnight-green);
  border-radius: 16px;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  gap: 16px;
  height: 132px;
  line-height: 20px;
  padding: 16px;
  width: 278px;
}

.customer-info {
  align-items: center;
  align-self: stretch;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}

.customer-img-name {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  gap: 8px;
}

.customer-image img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.review-text {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  text-align: left;
}

.page-header {
  display: flex;
  height: 520px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 60px 128px;
}

.page-header img {
  align-self: stretch;
}

.nla-description {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px var(--transparent-midnight-green) solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 32px 128px;
}

.nla-description p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 50%;
}

/* Extra Small Devices  */
@media (max-width: 540px) {
  .navbar {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    height: 80px;
  }

  .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }

  .home-link {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }

  .footer-page-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    padding: 24px 36px;
    width: 100%;
  }

  .welcome-banner {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
  }

  .home-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    text-align: center;
    width: auto;
  }

  .home-title h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .home-title p {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }

  .home-image {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .home-image img {
    height: auto;
    width: 100%;
  }

  .mira-description,
  .nla-page-description {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 16px;
    text-align: center;
    width: 100%;
  }

  .mira-description p,
  .nla-page-description p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
  }

  .mira-description h2,
  .home-section-title h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .home-section-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
    width: 100%;
  }

  .home-section,
  .nla-section {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    padding: 8px;
  }

  .nla-image {
    align-items: center;
    align-self: stretch;
    display: flex;
    width: 100%;
  }

  .nla-image img {
    height: auto;
    width: 100%;
  }

  .nla-description,
  .destination-description {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 4px;
    line-height: 20px;
    padding: 8px;
  }

  .destinations-list {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .destination {
    height: auto;
    width: 100%;
  }

  .destination-image {
    align-self: stretch;
  }

  .destination-image img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .customer-reviews-list {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;
  }

  .customer-review {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
  }

  .customer-info {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 4px;
  }

  .customer-img-name {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    gap: 8px;
  }
}

/* Small & Medium Devices */
@media (min-width: 541px) and (max-width: 1024px) {
  .navbar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 84px;
  }

  .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
  }

  .home-link {
    width: 100%;
  }

  .footer-page-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 48px 36px;
    width: 100%;
  }

  .welcome-banner {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 36px;
  }

  .home-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
  }

  .home-image {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .home-image img {
    height: auto;
    width: 100%;
  }

  .nla-page-description {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 36px;
    text-align: center;
    width: 100%;
  }

  .nla-page-description p {
    text-align: center;
    width: 80%;
  }

  .home-section-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .home-section,
  .nla-section {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 36px;
  }

  .nla-image {
    align-items: center;
    align-self: stretch;
    display: flex;
    width: 100%;
  }

  .nla-image img {
    height: auto;
    width: 100%;
  }

  .nla-description,
  .destination-description {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  .destinations-list {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .destination {
    height: auto;
    width: 100%;
  }

  .destination-image {
    align-self: stretch;
  }

  .customer-reviews-list {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
  }

  .customer-review {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .customer-info {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 4px;
  }

  .customer-img-name {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    gap: 8px;
  }
}

/* Large Devices  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .welcome-banner {
    padding: 48px 72px;
  }

  .home-image img {
    height: 356px;
  }

  .nla-page-description {
    padding: 48px 72px;
  }

  .home-section,
  .nla-section {
    padding: 48px 72px;
  }

  .nla-image {
    width: 820px;
  }

  .nla-image img {
    width: 100%;
  }

  .destinations-list {
    width: auto;
  }

  .destination {
    width: 500px;
  }

  .destination-image,
  .destination-image img {
    width: 100%;
  }

  .customer-reviews-list {
    align-self: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 75%;
  }

  .customer-review {
    width: 100%;
  }
}

/* Extra Large Devices */
@media (min-width: 1281px) {
}
