@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #55a8aa;
  color: #0a0d0f;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1200vw;
  padding: 24px;
  width: auto;
}

.navbar {
  background-color: #0a0d0f;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 84px;
}

.container {
  align-items: center;
  display: flex;
  gap: auto;
  height: 80px;
  justify-content: center;
  padding: 24px 48px;
  text-decoration: none;
  width: auto;
}

.home-link {
  width: 50%;
  display: flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  justify-content: flex-start;
}

.nav-page-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.home-link a,
.nav-page-links a {
  color: #7fcbca;
  text-decoration: none;
}

.home-link a:hover,
.nav-page-links a:hover {
  text-decoration: underline;
  color: #81aab5;
}

.footer-page-links {
  align-items: center;
  background-color: #0a0d0f;
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 48px 60px;
  width: auto;
}

.footer-page-links p {
  color: #7fcbca;
  text-decoration: none;
}

.footer-page-links p:hover {
  color: #81aab5;
  text-decoration: underline;
}

/* .footer-page-links a {
  color: #7fcbca;
  text-decoration: none;
}

.footer-page-links a:hover {
  color: #81aab5;
  text-decoration: underline;
} */
